<%= @topic.title %>

<div class="mt-2">
  <.input type="textarea" name="comment" value="" />
  <button id="add-comment-btn" class="bg-teal-500 text-white py-1 px-3 uppercase rounded-sm shadow-lg mt-1">
    Add comment
  </button>
  <ul class="comment-list divide-y divide-gray-100"></ul>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    window.createSocket(<%= @topic.id %>)
  })
</script>
